.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.form-centered {
  display       : flex;
  align-items   : flex-start;
  flex-direction: column;
  border        : 2px solid #ddd;
  box-shadow    : 5px 5px 10px;
  width         : fit-content;
  margin        : 0 auto;
  padding       : 40px;
}

.form-centered-category {
  display       : flex;
  align-items   : flex-start;
  flex-direction: column;
  border        : 2px solid #ddd;
  box-shadow    : 5px 5px 10px;
  width         : 60%;
  margin        : 50px 10% 50px 10%;
  padding       : 10px;
}

.form-centered-homepage {
  display       : flex;
  align-items   : flex-start;
  flex-direction: column;
  border        : 1px solid rgba(221, 221, 221, 0);
  /* box-shadow    : 5px 5px 10px; */
  /* width         : 60%; */
  margin        : 50px 2% 50px 2%;
  padding       : 10px;
}

.main-form-wrapper {
  display        : flex;
  flex-direction : row;
  margin         : 30px;
  justify-content: space-around;
}

.image-item {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20%;
}

.image-item .img-content{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.category-name-input {
  width: 350px;
}

.category-description-input {
  width: 350px;
}

.add-category-button {
  margin: 10px 10px 20px 0px !important;
}

.main-label-text {
  margin-bottom: 20px !important;
}

.dnd-image-area {
  width          : 200px;
  height         : 100px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 10px;
}

.uploader-area {
  display       : flex;
  flex-direction: row;
  align-items   : flex-start;
}

.update-form-content {
  display        : flex;
  align-items    : flex-start;
  justify-content: center;
  flex-direction : row;
  width          : fit-content;
}

.form-edit-field {
  display       : flex;
  flex-direction: row;
}

.user-form-centered {
  display       : flex;
  align-items   : stretch;
  flex-direction: column;
  border        : 2px solid #ddd;
  box-shadow    : 5px 5px 10px;
  width         : 50%;
  margin        : 50px 20% 150px 25%;
  padding       : 60px;
}


/* .user-form-centered input{
border-width: 200px;
}
.userinput{
  border-width: 200px;
} */
.user-form-centered button {
  align-self: center;
}

.user-profile-form-centered {
  display       : flex;
  align-items   : stretch;
  flex-direction: column;
  border        : 2px solid #ddd;
  box-shadow    : 5px 5px 10px;
  width         : 500px;
  padding      : 60px;
  /* align-self: unset; */
  right: 250px;
  margin-top: 80px;
}

.user-profile-form-centered button {
  align-self: center;
}

.user-profile-password-form-centered {
  display       : flex;
  align-items   : stretch;
  flex-direction: column;
  border        : 2px solid #ddd;
  box-shadow    : 5px 5px 10px;
  margin-left   : 50px;
  margin-top    : 240px;
  width         : 100%;
  left          : 40px;
  /* margin     : 150px 10% 150px 5%; */
  padding       : 60px;
  /* align-self : unset; */
}

.user-profile-form--centered button {
  align-self: center;
}
/* .updateProfile{
 float: right;
} */

.category-image-upload{
  width: 200px;
  height: 200px;
  margin: 10px 0px 10px 0px;
  border: 1px solid black;
  border-radius: 50% ;
}

.image-buttons-category{
margin: 0px 10px 0px 10px !important;
}

.vehicle-make-labels{
  margin: 20px 0px 5px 0px;
}

.make-table-custom{
  margin-top: 10px;
  width: 200px;
  max-height: 300px;
  min-height: 300px;
  border: 1px solid cadetblue;
  padding-left: 30px;
  overflow: auto;
}

.spare-part-label{
  margin-bottom: 20px;
  font-weight: 600;
}

.make-buttons-sub-category{
  margin: 10px 10px 10px 10px !important;
}

.profile-main {
  display       : flex;
  flex-direction: row;
  align-items   : flex-start;
  margin        : 50px 10% 150px 25%;
}

.update-form-edit-btn-section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px 0px 0px 20px;
}

.form-main-btn-section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 30px 0px 0px 20px;
}

.form-submit-btn{
  align-self: flex-end;
}

.category-card-custom{
  width: 200px;
  height: 50px;
  background-color: #165a6e !important;
  color: rgb(255, 255, 255) !important;
  font-size: large !important;
  border-radius: 0px !important;
 
} 

.category-card-custom :hover{
  transform: scale(1.2);
} 
.ad-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad-cards-group{
  padding: 10px;
}

.pagination{
  margin-left: 50%;
}

.header-text-homepage{
  width: 100% !important;
  text-align: center !important;
  font-size: 60px;
  margin: 10px 0 30px 0 !important;
  color: #165a6e !important;
  font-weight: 700;
}

.sub1-text-homepage{
  width: 100% !important;
  text-align: center !important;
  font-size: 30px;
  margin: 100px 0 80px 0 !important;
  color: #165a6e !important;
  font-weight: 500;
  line-height: 36px !important;
  letter-spacing: 3px;
}

.card-view-homepage{
  margin-top: 50px !important;
}

.trending-vehicle-text{
  width: 100% !important;
  text-align: center !important;
  font-size: 20px;
  margin: 100px 0 0px 0 !important;
  color: #153842 !important;
  font-weight: 800;
  line-height: 36px !important;
  letter-spacing: 3px;
}

.header-text-homepage-riyapola{

    width: 100% !important;
    text-align: center !important;
    font-size: 90px;
    margin: 10px 0 30px 0 !important;
    /* color: #000000 !important; */
    font-weight: 500;  
    letter-spacing: 20px !important;
}

/* #mName{
	font-size:50px;
	text-align:center;
	margin-top:0px;
	word-spacing:20px;
	letter-spacing:60px;
	color:#990099;
	font-family:Cambria;
	

} */

.header-text-homepage-riyapola{
	animation-name: colorchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes colorchange{
	0%{color:#000000}
    /* 1%{color:#000000;} */
	/* 25%{color:#833b3500} */
    50% {color:#ffffff00 }
	/* 75%{color:#33a16c} */
	/* 85%{color:white} */
    100% {color: #000000;}
}

/* @keyframes colorchange{
	0%{color:#990099}
    1%{color:#4285F4;}
	25%{color:#DB4437}
    50% {color:#F4B400 }
	75%{color:#0F9D58}
	85%{color:white}
    100% {color: #990099;}
} */
