.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-centered{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #ddd;
  box-shadow: 5px 5px 10px;
  width: 60%;
  margin: 50px 30% 150px 20%;
  padding: 10px;
}

.form-centered-category{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #ddd;
  box-shadow: 5px 5px 10px;
  width: 60%;
  margin: 50px 10% 50px 10%;
  padding: 10px;
}

.main-form-wrapper{
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: space-around;
}

.image-item{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.category-name-input{
  width: 350px;
}

.category-description-input{
  width: 350px;
}

.add-category-button{
  margin: 10px 10px 20px 0px !important;
}

.main-label-text{
  margin-bottom: 20px !important;
}