/* css here */

/* Slider CSS  */
@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width : 20%;
    float : left;
    height: 100vh;
}

div#slider figure {
    position  : relative;
    width     : 500%;
    margin    : 0;
    left      : 0;
    text-align: left;
    font-size : 0;
    animation : 30s slidy infinite;
}

/* Search Bar Css  */

input {
    outline: none;
    
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family       : inherit;
    font-size         : 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border    : solid 1px #ccc;
    padding   : 9px 10px 9px 32px;
    width     : 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-border-radius: 10em;
    -moz-border-radius   : 10em;
    border-radius        : 10em;

    -webkit-transition: all .5s;
    -moz-transition   : all .5s;
    transition        : all .5s;
}

input[type=search]:focus {
    width           : 450px;
    background-color: #fff;
    border-color    : #2185D0;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow   : 0 0 5px rgba(109, 207, 246, .5);
    box-shadow        : 0 0 5px rgba(109, 207, 246, .5);
}


input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}